@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model DotNetCoreAngularApp.Pages.ForecastModel
@{
    ViewData["Title"] = "Forecast";
}

<h2>Forecast</h2>

<h3> @Model.Message</h3>

<button type="button" (click)="GetWeather()">Clima</button>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>summary</th>
            <th>temperatureC</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currentForeCast in Model.Forecasts)
        {
            <tr>
                <td>@currentForeCast.Name</td>
                <td>@currentForeCast.Summary</td>
                <td>@currentForeCast.TemperatureC</td>
                <td>

                    <form asp-page-handler="delete" method="post">
                        <button class="btn btn-default">Delete</button>
                        <input type="hidden" name="name" value="@currentForeCast.Name" />
                    </form>


                </td>
            </tr>
        }

    </tbody>

</table>

<h1> This is my machine name: @Configuration["computername"]</h1>

<h1> This is my secret key is: @Configuration["MySecretKey"]</h1>

@*<button type="submit" asp-page-handler="delete" formmethod="post" method="post"
            asp-route-id="@currentForeCast.Name">
        Delete
    </button>*@

